# **Actividad 5 - Bootcamp Datascience**
### **Presentado por: Rafael Cipagauta Carvajal**

**Consigna**
1. Deberán generar una instancia de conexión a Base de datos preferiblemente PostgreSQL donde deberá existir el dataset elegido para el proyecto.
2. Se deben realizar consultas SQL desde el lenguaje Python utilizando las librerías (psycopg2 o sqlalchemy) y quedar evidenciadas en el archivo .ipynb que se entregue

In [2]:
!pip install psycopg2-binary

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2-binary in c:\users\rafael\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.9.10)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\Rafael\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
!pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.38-cp312-cp312-win_amd64.whl.metadata (9.9 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.1.1-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Downloading typing_extensions-4.12.2-py3-none-any.whl.metadata (3.0 kB)
Downloading SQLAlchemy-2.0.38-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.1 MB 2.8 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 2.4 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 2.0 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 2.1 MB/s eta 0:00:00
Downloading greenlet-3.1.1-cp312-cp312-win_amd64.whl (299 kB)
Downloading typing_extensions-4.12.2-py3-none-any.whl (37 kB)
Installing collected packages: typing-extensions, greenlet, sqlalchemy
Successfully installed greenlet-3.1.1 sqlalchemy-2.0.38 typing-extensions-4.12.2

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\Rafael\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [4]:
!pip show psycopg2-binary

Name: psycopg2-binary
Version: 2.9.10
Summary: psycopg2 - Python-PostgreSQL Database Adapter
Home-page: https://psycopg.org/
Author: Federico Di Gregorio
Author-email: fog@initd.org
License: LGPL with exceptions
Location: C:\Users\Rafael\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages
Requires:
Required-by:

In [5]:
!pip show sqlalchemy

Name: SQLAlchemy
Version: 2.0.38
Summary: Database Abstraction Library
Home-page: https://www.sqlalchemy.org
Author: Mike Bayer
Author-email: mike_mp@zzzcomputing.com
License: MIT
Location: C:\Users\Rafael\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages
Requires: greenlet, typing-extensions
Required-by:

In [10]:
pwd

'c:\\Users\\Rafael\\Desktop\\Bootcamp Data Science - BIT\\Ejercicios_Bootcamp_DS\\E5'

In [11]:
ruta="c:\\Users\\Rafael\\Desktop\\Bootcamp Data Science - BIT\\"
with open(ruta+'ContraseñaPosgre.txt','r') as f:
    pwd= f.read()

In [12]:
len(pwd)

10

In [13]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
#pd.options.display.max_rows = 50
hostname= 'localhost'
database= 'bd_bootcamp'
username= 'postgres'
pwd=pwd
port_id= '5432'

In [14]:
engine= create_engine(f"postgresql://{username}:{pwd}@localhost:{port_id}/{database}")
engine

Engine(postgresql://postgres:***@localhost:5432/bd_bootcamp)

In [15]:
from sqlalchemy import text
def runQuery(sql):
    result = engine.connect().execute((text(sql)))
    return pd.DataFrame(result.fetchall(), columns=result.keys())

In [20]:
query="""
SELECT * FROM tb_prestamos
"""
runQuery(query).head()

,codigo_formulario,codigo_prestamo,fecha_de_creacion,alcaldia_municipio,colonia,ciudad_mx,calle,codigo_postal,ingreso_neto,trully_listed_weeks,scorefisvalor,con_trabajo_actual,total_jobs,year_since_last_job,fecha_de_creacion_del_prestamo,fecha_de_nacimiento,edad_cliente,mora_maxima,rango_mora,estatus_prestamo
0,FORM-392881,P-034842,2024-12-07,TECÁMAC,HUEYOTENCO,MÉXICO,Michoacan,55749.0,"MXN50.328,01",NaN,539.0,None,NaN,NaN,2024-12-07,1992-10-25,32.0,-30,Sin mora,Pendiente
1,FORM-392857,P-034840,2024-12-07,CUAUHTÉMOC,EX-HIPÓDROMO DE PERALVILLO,CIUDAD DE MÉXICO,Enrique Granados 151A,6250.0,"MXN22.461,92",NaN,NaN,None,NaN,NaN,2024-12-07,1989-07-05,35.0,-30,Sin mora,Pendiente
2,FORM-392873,P-034841,2024-12-07,ETCHOJOA,EL CRUCERO,SONORA,Miguel hidalgo 233,85280.0,"MXN9.342,84",NaN,NaN,None,NaN,NaN,2024-12-07,1995-04-17,29.0,-30,Sin mora,Pendiente
3,FORM-392928,P-034845,2024-12-07,JIUTEPEC,SAN FRANCISCO TEXCALPA,MORELOS,Naranjo mzna 21 lote 28,62573.0,"MXN22.900,28",NaN,595.0,None,NaN,NaN,2024-12-07,1977-02-24,47.0,-30,Sin mora,Pendiente
4,FORM-392917,P-034843,2024-12-07,NAUCALPAN DE JUÁREZ,SAN BARTOLO NAUCALPAN (NAUCALPAN CENTRO),MÉXICO,Avenida Gustavo Baz #31,53000.0,"MXN7.038,72",NaN,NaN,None,NaN,NaN,2024-12-07,1983-11-15,41.0,-30,Sin mora,Pendiente

In [31]:
query1="""SELECT tb_prestamos.ciudad_mx, count(*) as conteo
FROM tb_prestamos
GROUP BY tb_prestamos.ciudad_mx
ORDER BY conteo DESC"""
runQuery(query1).head()

                         ciudad_mx  conteo
0                           MÉXICO      33
1                 CIUDAD DE MÉXICO      25
2                          JALISCO      19
3                       NUEVO LEÓN      14
4  VERACRUZ DE IGNACIO DE LA LLAVE      10

In [36]:
query2="""SELECT tb_prestamos.ciudad_mx, count(*) as conteo_pagados
FROM tb_prestamos
WHERE tb_prestamos.estatus_prestamo = 'Pagado'
GROUP BY tb_prestamos.ciudad_mx
ORDER BY conteo_pagados DESC"""
runQuery(query2).head()

                         ciudad_mx  conteo_pagados
0                           MÉXICO              33
1                 CIUDAD DE MÉXICO              25
2                          JALISCO              19
3                       NUEVO LEÓN              14
4  VERACRUZ DE IGNACIO DE LA LLAVE              10

In [39]:
query3="""SELECT tb_prestamos.ciudad_mx, count(*) as conteo_pendientes
FROM tb_prestamos
WHERE tb_prestamos.estatus_prestamo != 'Pagado'
GROUP BY tb_prestamos.ciudad_mx
ORDER BY conteo_pendientes DESC"""
runQuery(query3).head()

                         ciudad_mx  conteo_pendientes
0                           MÉXICO               4968
1                 CIUDAD DE MÉXICO               3613
2                          JALISCO               2457
3  VERACRUZ DE IGNACIO DE LA LLAVE               2089
4                       NUEVO LEÓN               1840

In [42]:
query4="""SELECT 
    ciudad_mx, 
    COUNT(*) AS conteo_total,
    SUM(CASE WHEN estatus_prestamo = 'Pagado' THEN 1 ELSE 0 END) AS conteo_pagados,
    SUM(CASE WHEN estatus_prestamo != 'Pagado' THEN 1 ELSE 0 END) AS conteo_pendientes
FROM tb_prestamos
GROUP BY ciudad_mx
ORDER BY conteo_total DESC"""
runQuery(query4).head(10)

,ciudad_mx,conteo_total,conteo_pagados,conteo_pendientes
0,MÉXICO,5001,33,4968
1,CIUDAD DE MÉXICO,3638,25,3613
2,JALISCO,2476,19,2457
3,VERACRUZ DE IGNACIO DE LA LLAVE,2099,10,2089
4,NUEVO LEÓN,1854,14,1840
5,GUANAJUATO,1412,4,1408
6,PUEBLA,1225,4,1221
7,TAMAULIPAS,1042,9,1033
8,BAJA CALIFORNIA,976,4,972
9,QUERÉTARO,916,3,913